@import 'fonts.css';
@import 'bootstrap.min.css';
@import 'font-awesome.min.css';
@import 'style.css';
@import 'default.css';
@import 'pygments.css';
@import 'responsive.css';
@import 'rtd.css';

#sidebar-navigation p {
  color: #363637;
  font-family: 'Raleway', sans-serif;
  display: block;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  margin: 5px 0 5px 30px;
  padding: 0;
}
