@import 'fonts.css';
@import 'bootstrap.min.css';
@import 'font-awesome.min.css';
@import 'style.css';
@import 'default.css';
@import 'pygments.css';
@import 'responsive.css';
@import 'rtd.css';

#sidebar-navigation > ul > li:nth-of-type(1):last-child:after,
#sidebar-navigation > ul > li:nth-of-type(4):last-child:after {
    content: " ";
    display: block;
    margin-bottom: 1em;
}
#sidebar-navigation > ul > li:nth-of-type(1):before {
    content: "Preface";
    padding-top: 0;
}
#sidebar-navigation > ul > li:nth-of-type(3):before {
    content: "Usage";
}

