<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php">

    <testsuites>
        <testsuite name="Crud">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>

    <php>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>
</phpunit>
