<phpunit
	colors="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	bootstrap="./Test/init.php">

	<testsuites>
		<testsuite name="Crud">
			<directory>./Test/</directory>
		</testsuite>
	</testsuites>

	<listeners>
		<listener class="\Cake\TestSuite\Fixture\FixtureInjector">
			<arguments>
				<object class="\Cake\TestSuite\Fixture\FixtureManager" />
			</arguments>
		</listener>
	</listeners>

	<filter>
		<blacklist>
			<directory suffix="*">./vendor/</directory>
			<directory suffix="*">./Test/</directory>
			<directory suffix="*">./TestSuite/</directory>
		</blacklist>
	</filter>

</phpunit>
