source: /path/to/Crud

destination: /destination/for/api

exclude:
	- */Test/*
	- */.resources/*
	- */.git/*

title: Crud

autocomplete:
	- classes
	- functions
	- methods
	- classconstants
	- properties

report: /destination/for/api/apigen.report

php: No

deprecated: Yes

#baseUrl : http://cakephp.nu/cakephp-crud/api

templateConfig: './templates/bootstrap/config.neon'
