<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendors/autoload.php">
<filter>
    <blacklist>
        <directory suffix=".php">app/Config</directory>
        <directory suffix=".php">app/Controller</directory>
        <directory suffix=".php">app/Model</directory>
        <directory suffix=".php">app/Test</directory>
        <directory suffix=".php">app/Vendor</directory>
        <directory suffix=".php">app/Plugin/Crud/Test</directory>
        <directory suffix=".php">lib</directory>
        <directory suffix=".php">vendor</directory>
    </blacklist>
</filter>
</phpunit>
