<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - FriendsOfCake/crud</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="{{ site.url }}/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
			.navbar .btn-navbar {
				float: left;
			}

			@media (max-width: 980px) {
				/* Enable use of floated navbar text */
				.navbar-text.pull-right {
					float: none;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		</style>

		<link href="{{ site.url }}/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{ site.url }}/css/highlight.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="{{site.url}}/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<a href="https://github.com/FriendsOfCake/crud/">
			<img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
		</a>

		<div class="alert alert-warming bs-alert-old-docs">
			<strong>Heads up!</strong>
			<br />
			These docs are for Crud v3 - that only works with CakePHP 2.x. For <a href="https://github.com/friendsofcake/crud/tree/cake3">CRUD v4</a> docs please go to <a href="http://crud.readthedocs.org/en/latest/">the new documentation site</a><br />
			The <a href="http://crud.readthedocs.org/en/latest/">CRUD v4 documentation</a> has been completely rewritten, and since CRUD v3 and CRUD v4 API is ~95% identical, it may be worth a look for CRUD v3 users as well until v4 docs are backported for v3.
		</div>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="{{ site.url }}/">FriendsOfCake/crud</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right">

						</p>
						<ul class="nav">
							<li class="active"><a href="{{ site.url }}/">Home</a></li>
							<li><a href="{{ site.url }}/docs/">Documentation</a></li>
							<li><a href="{{ site.url }}/examples/">Examples</a></li>
							<li><a href="{{ site.url }}/docs/views/wish-list.html">View</a></li>
							<li><a href="{{ site.url }}/docs/todo.html">TODO</a></li>
							<li><a href="{{ site.url }}/api/develop">API documentation</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Getting started</li>
							<li class="{% if page.title == "Introduction" %}active{% endif %}"><a href="{{ site.url }}/docs/">Introduction</a></li>
							<li class="{% if page.title == "Installation" %}active{% endif %}"><a href="{{ site.url }}/docs/installation.html">Installation</a></li>
							<li class="{% if page.title == "Configuration" %}active{% endif %}"><a href="{{ site.url }}/docs/configuration.html">Configuration</a></li>
							<li class="{% if page.title == "Conventions" %}active{% endif %}"><a href="{{ site.url }}/docs/conventions.html">Conventions</a></li>
							<li class="{% if page.title == "Events" %}active{% endif %}"><a href="{{ site.url }}/docs/events.html">Events</a></li>
							<li class="{% if page.title == "Unit Testing" %}active{% endif %}"><a href="{{ site.url }}/docs/unit-testing.html">Unit Testing</a></li>
							<li class="nav-header">Actions</li>
							<li class="{% if page.title == "Actions - Index" %}active{% endif %}"><a href="{{ site.url }}/docs/actions/index.html">Index</a></li>
							<li class="{% if page.title == "Actions - Add" %}active{% endif %}"><a href="{{ site.url }}/docs/actions/add.html">Add</a></li>
							<li class="{% if page.title == "Actions - Edit" %}active{% endif %}"><a href="{{ site.url }}/docs/actions/edit.html">Edit</a></li>
							<li class="{% if page.title == "Actions - View" %}active{% endif %}"><a href="{{ site.url }}/docs/actions/view.html">View</a></li>
							<li class="{% if page.title == "Actions - Delete" %}active{% endif %}"><a href="{{ site.url }}/docs/actions/delete.html">Delete</a></li>
							<li class="{% if page.title == "Actions - Custom" %}active{% endif %}"><a href="{{ site.url }}/docs/actions/custom.html">Custom</a></li>
							<li class="nav-header">Listeners</li>
							<li class="{% if page.title == "Listeners - Intro" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/intro.html">Introduction</a></li>
							<li class="{% if page.title == "Debug Kit" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/debug-kit.html">Debug Kit</a></li>
							<li class="{% if page.title == "Related Models" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/related-models.html">Related Models</a></li>
							<li class="{% if page.title == "Redirect" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/redirect.html">Redirect</a></li>
							<li class="{% if page.title == "Scaffold" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/scaffold.html">Scaffold</a></li>
							<li class="{% if page.title == "Custom Listeners" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/custom.html">Custom listeners</a></li>
							<li class="nav-header">API listeners</li>
							<li class="{% if page.title == "Api" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/api.html">Api</a></li>
							<li class="{% if page.title == "Api Field Filter" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/api-field-filter.html">Api Field Filter</a></li>
							<li class="{% if page.title == "Api Pagination" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/api-pagination.html">Api Pagination</a></li>
							<li class="{% if page.title == "Api Query Log" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/api-query-log.html">Api Query Log</a></li>
							<li class="{% if page.title == "Api Transformation" %}active{% endif %}"><a href="{{ site.url }}/docs/listeners/api-transformation.html">Api Transformation</a></li>
							<li class="nav-header">Examples</li>
							<li class="{% if page.title == "Examples - Blog" %}active{% endif %}"><a href="{{ site.url }}/examples/blog.html">Blog tutorial</a></li>
							<li class="nav-header">Presentations</li>
							<li><a target="_blank" href="{{ site.url }}/presentations/jippi-cakefest-2013/">CakeFest 2013</a></li>
							<li><a target="_blank" href="{{ site.url }}/presentations/jippi-nodes-2013/">Nodes 2013 (v2 => v3)</a></li>
						</ul>
					</div><!--/.well -->
				</div>
				<div class="span9">
					<div class="toc hide">...toc....</div>
					{{ content }}

					{% include disqus/comments.md %}
				</div>
			</div><!--/row-->

			<hr />

			<footer>
				<p>&copy; Christian Winther 2013</p>
			</footer>

		</div><!--/.fluid-container-->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="{{site.url}}/js/bootstrap.min.js"></script>
		<script src="{{site.url}}/js/toc.js"></script>
		{% include footer/analytics.md %}
	</body>
</html>
