alabaster==0.7.12
Babel==2.16.0
certifi==2024.7.4
chardet==3.0.4
docutils==0.14
idna==3.7
imagesize==0.7.1
Jinja2==3.1.4
MarkupSafe==0.23
Pygments==2.15.0
pytz==2024.2
requests==2.32.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.5.1
sphinx-rtd-theme==2.0.0
sphinxcontrib-phpdomain==0.12.0
urllib3==2.2.3
cakephp-theme
